PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=laundryku_db
DB_PORT=3306
JWT_SECRET=change_this_secret
ALLOW_MANUAL_DISTANCE=true

# Midtrans Sandbox
# Dapatkan Server Key di: https://dashboard.sandbox.midtrans.com → Settings → Access Keys
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxxxxxxxxxxxxxxxxxxxxx
